html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 2% 20%;
}

.empty-space{
    margin-top: 13vh;
    margin-bottom: 13vh;
}

#page {
    flex-grow: 1;
}

.navbar {
    background-color: #f2f2f2;
    padding: 1.5%;
}

.navbar-brand img {
    height: 2em;
}

.error-container {
    margin: 5% 20%;
    padding: 20px 50px;
}

.error-container .btn {
    background-color: #F5C703;
}

.error-container .btn:hover {
    border-color: #F5C703;
}

.search-container {
    margin: 0 auto;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.search-container .btn {
    background-color: #F5C703;
    color: black;
    font-weight: 600;
}

.search-container .btn:hover {
    border-color: #F5C703;
}

.coupons-container {
    margin: 0 auto;
    padding: 20px 80px;
}

.slide {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.slide .card {
    flex: 1;
}

.slide .card-body {
    max-height: 100%;
    overflow: hidden;
}

.card .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Carousel styles */
.carousel-container {
    margin: 0 auto;
    position: relative;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #F5C703;
    padding: 1.5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.carousel-arrow:hover {
    background-color: white;
}

.carousel-arrow-left {
    left: 20px;
}

.carousel-arrow-right {
    right: 20px;
}

.carousel-arrow i {
    color: #000000;
}

.carousel .carousel-img {
    width: 100%;
    height: 200px; /* Imposta l'altezza fissa per le immagini */
    object-fit: cover; /* Imposta l'immagine per coprire l'intera area */
    border-radius: 5px;
}

.grid-view .grid-view-img {
    width: 100%;
    height: 200px; /* Imposta l'altezza fissa per le immagini */
    object-fit: cover; /* Imposta l'immagine per coprire l'intera area */
    border-radius: 5px;
}

.company-container {
    margin: 0 auto;
    padding: 20px 50px;
}

.company-container .company-logo {
    width: 100%;
    height: auto;
    max-width: 200px; /* Imposta la larghezza massima del logo */
    max-height: 100px; /* Imposta l'altezza massima del logo */
}

.company-card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    height: 300px; /* Altezza fissa della card */
    overflow: hidden; /* Nasconde il contenuto che supera l'altezza della card */
}

.company-card .logo {
    width: 100%;
    height: 200px; /* Altezza del logo dell'azienda */
    object-fit: contain;
    border-radius: 5px;
}

.company-card .card-title {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1em;
    overflow: hidden; /* Nasconde il testo che supera l'altezza della card */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione (...) per il testo nascosto */
    white-space: nowrap; /* Impedisce al testo di andare a capo */
}

.company-card .card-link {
    text-decoration: none;
}

.company-card .card-link:hover {
    text-decoration: underline;
}

.company-container img {
    width: 70%;
    height: auto;
}

.company-container #logo {
    max-width: 60%;
    height: auto;
}

.promozione-container {
    margin: 0 auto;
    padding: 20px 50px;
}

.promozione-container .btn {
    background-color: #F5C703;
}

.colonna {
    text-align: right;
}

.coupon-container .btn {
    background-color: #F5C703;
}

.coupon-container .btn:hover {
    border-color: #F5C703;
}

.coupon-info .coupon-info-value {
    margin: 0;
}

.wrapper .text-muted {
    text-align: end;
}

.wrapper input {
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--gray);
}

.wrapper input:focus {
    box-shadow: none;
}

.wrapper .submit_btn {
    padding: 10px 15px;
    font-weight: 500;
}

.wrapper .submit_btn:focus{
    box-shadow: none;
}

.wrapper select {
    border-color: var(--light-white);
}

.wrapper select:focus {
    box-shadow: none;
}

.wrapper .btn {
    background-color: #F5C703;
}

.wrapper .btn:hover {
    border-color: #F5C703;
}

.faq-container {
    margin: 0 auto;
    padding: 20px 80px;
}

.faq-container h6 {
    color: #F5C703;
}

/* Grid view styles */
.grid-view {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: auto;
}

@media only screen and (min-width: 400px) {
    .grid-view {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .grid-view {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 800px) {
    .grid-view {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    .grid-view {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    margin: 10px;
    /* add some margin to the left and right */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card img.coupon-image {
    width: 40%;
    height: auto;
    justify-content: center;
}

.card .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1em;
}

.card p {
    font-size: 16px;
}

footer {
    background-color: #f2f2f2;
}
