footer {
    width: 100%;
}
html, body {
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 4% 50px;
}
.box-form{
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}


.navigation,
.navigation:hover {
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #000
}

.fas.fa-trash.table-icon-trash {
    color: red
}

.fas.fa-pencil-alt.table-icon-edit {
    color: orange
}

.row {
    margin-top: 40px
}

.left {
    float: left
}

.right {
    float: right
}

.box-content {
    padding: 20px;
}

.btn-add,
.btn-add:hover {
    color: #000
}

.btn-add-box {
    margin-top: 10px;
    margin-bottom: 10px
}

.custom-scrollbar {
    position: relative;
    height: 50vh;
    overflow: auto;
    display: block;
    margin-top: 50px;
}

table thead {
    position: sticky;
    top: 0;
}
