body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Navbar styles */

.navbar {
    background-color: #f2f2f2;
    padding: 1.5%;
}

.navbar-brand img {
    height: 2em;
}

.search-container {
    margin-top: 7em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container .btn {
    background-color: #F5C703;
    color: black;
    font-weight: 600;
    border: none;
}

.search-container .btn:hover {
    background-color: white;
    color: black;
    border-color: #F5C703;
}

.coupons-container {
    margin: 0 auto;
    padding: 20px 50px;
}

.slide {
    display: flex;
    flex-wrap: nowrap;
}

.card img {
    display: initial !important;
}

/* Carousel styles */
.carousel-container {
    margin: 0 auto;
    position: relative;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #F5C703;
    padding: 1.5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.carousel-arrow:hover {
    background-color: white;
}

.carousel-arrow-left {
    left: 20px;
}

.carousel-arrow-right {
    right: 20px;
}

.carousel-arrow i {
    color: #000000;
}

.company-container {
    margin: 0 auto;
    padding: 20px 50px;
}

.company-container h1 {
    margin-top: 3em;
}

.colonna {
    text-align: right;
}

.coupon-container .btn {
    background-color: #F5C703;
}

.coupon-container .btn:hover {
    border-color: #F5C703;
}

.wrapper {
    margin-top: 7em;
    padding: 2% 2%;
}

.wrapper h1 {
    text-align: center;
    padding-bottom: 15%;

}

.wrapper .text-muted {
    text-align: end;
}

.wrapper input {
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--gray);
}

.wrapper input:focus {
    box-shadow: none;
}

.wrapper .submit_btn {
    padding: 10px 15px;
    font-weight: 500;
}

.wrapper .submit_btn:focus{
    box-shadow: none;
}


.wrapper select {
    border-color: var(--light-white);
}

.wrapper select:focus {
    box-shadow: none;
}

.wrapper .btn {
    background-color: #F5C703;
}

.wrapper .btn:hover {
    border-color: #F5C703;
}

.faq-container {
    margin: 0 auto;
    padding: 20px 50px;
}

.faq-container h6 {
    color: #F5C703;
}

/* Grid view styles */
.grid-view {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: auto;
}

@media only screen and (min-width: 400px) {
    .grid-view {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .grid-view {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 800px) {
    .grid-view {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    .grid-view {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    margin: 10px;
    /* add some margin to the left and right */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}


.card .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1em;
}

.card p {
    font-size: 16px;
    color: #333;
}

/* Footer styles */

footer {
    background-color: #f2f2f2;

}

footer img {
    max-width: 50%;
    margin: 0 auto;
}
